<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <thevaultapp>
                <debug>0</debug>
                <active>1</active>
                <model>TheVaultAppFacade</model>
                <store>Andrew Test Store</store>
                <subid1>1</subid1>                
                <new_order_status>pending</new_order_status>
                <order_status_authorized>pending_payment</order_status_authorized>
                <order_status_captured>processing</order_status_captured>
                <order_status_refunded>canceled</order_status_refunded>
                <order_status_flagged>fraud</order_status_flagged>
                <payment_action>authorize</payment_action>
                <title>Payment method (TheVaultApp)</title>
                <currency>USD</currency>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <box_title>TheVaultApp</box_title>
                <public_key>https://staging.thevaultapp.com/api/buildrequest?isAjax=true</public_key>
                <secret_key>afe34bfc2ec79e6c973640b7b8db2ed0</secret_key>                            
            </thevaultapp>
        </payment>
    </default>
</config>
