<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="TheVaultAppFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\TheVaultApp\Checkout\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">TheVaultApp\Checkout\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">TheVaultAppValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">TheVaultAppCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="TheVaultAppConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\TheVaultApp\Checkout\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with TheVaultAppConfig -->
    <virtualType name="TheVaultAppLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">TheVaultAppConfig</argument>
        </arguments>
    </virtualType>

    <type name="TheVaultApp\Checkout\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">TheVaultAppLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="TheVaultAppCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">TheVaultAppAuthorizeCommand</item>
                <item name="capture" xsi:type="string">TheVaultAppCaptureCommand</item>
                <item name="void" xsi:type="string">TheVaultAppVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="TheVaultAppAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">TheVaultAppAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">TheVaultAppResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">TheVaultApp\Checkout\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">TheVaultApp\Checkout\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="TheVaultAppAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">TheVaultApp\Checkout\Gateway\Request\AuthorizationRequest</item>
                <item name="mockData" xsi:type="string">TheVaultApp\Checkout\Gateway\Request\MockDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="TheVaultApp\Checkout\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">TheVaultAppConfig</argument>
        </arguments>
    </type>

    <!-- Capture command -->
    <virtualType name="TheVaultAppCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">TheVaultApp\Checkout\Gateway\Request\CaptureRequest</argument>
            <argument name="handler" xsi:type="object">TheVaultApp\Checkout\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">TheVaultApp\Checkout\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">TheVaultApp\Checkout\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">TheVaultApp\Checkout\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->
    <type name="TheVaultApp\Checkout\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">TheVaultAppConfig</argument>
        </arguments>
    </type>

    <!-- Void command -->
    <virtualType name="TheVaultAppVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">TheVaultApp\Checkout\Gateway\Request\VoidRequest</argument>
            <argument name="handler" xsi:type="object">TheVaultApp\Checkout\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">TheVaultApp\Checkout\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">TheVaultApp\Checkout\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">TheVaultApp\Checkout\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Void Request -->
    <type name="TheVaultApp\Checkout\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">TheVaultAppConfig</argument>
        </arguments>
    </type>

    <!-- Response handlers -->
    <virtualType name="TheVaultAppResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">TheVaultApp\Checkout\Gateway\Response\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">TheVaultApp\Checkout\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="TheVaultAppValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">TheVaultAppConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TheVaultAppConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">TheVaultAppConfig</argument>
        </arguments>
    </virtualType>

    <type name="TheVaultApp\Checkout\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">TheVaultAppConfig</argument>
        </arguments>
    </type>

</config>
